schema/DeRegistration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Wm. Mark Stubbeman (Cisco Systems, Inc.) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DeRegistration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AppType" type="xs:string"/>
				<xs:element name="AppInstance" type="xs:string"/>
				<xs:element name="AppVersion" type="xs:string"/>
				<xs:element name="HostName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
