schema/Registration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Wm. Mark Stubbeman (Cisco Systems, Inc.) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="AppMgmtPolicies">
		<xs:sequence>
			<xs:element name="AppMgmtPolicy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LogDirectories">
		<xs:sequence>
			<xs:element name="LogDirectory" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Logging">
		<xs:sequence>
			<xs:element name="LogDirectories" type="LogDirectories"/>
			<xs:element name="Transport" type="xs:string" minOccurs="0"/>
			<xs:element name="UserId" type="xs:string" minOccurs="0"/>
			<xs:element name="Password" type="xs:string" minOccurs="0"/>
			<xs:element name="UnixPrompt" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Registration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HostName" type="xs:string"/>
				<xs:element name="AppType" type="xs:string"/>
				<xs:element name="AppInstance" type="xs:string"/>
				<xs:element name="AppVersion" type="xs:string"/>
				<xs:element name="AppMgmtPolicies" type="AppMgmtPolicies"/>
				<xs:element name="ProcessPropertyFile" type="xs:string" minOccurs="0"/>
				<xs:element name="Logging" type="Logging"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
